*{
  /*border: dashed lightblue 1px;*/
  padding: 0px;
  margin: 0px;
  font-family:sans-serif;
  background-color: inherit;
  text-align: center;
}

.navbar{

  font: sans-serif;
}

h3{
  font-size: 2em;
  font-family: tahoma, arial, sans-serif;
  padding: 10px;
  background-color: rgba(0,0,0,0);
}

h4{
  font-size: 1.5em;
  font-family: sans-serif;
  padding: 3px;
  background-color: rgba(0,0,0,0);
}

p{
  font-family: sans-serif;
  font-size: 1.2em;
  background-color: rgba(0,0,0,0);
}

a{
  color: #B59642;
  font-style: italic;
  text-decoration: none;
  background-color: rgba(0,0,0,0);
}

img{
  background-color: rgba(0,0,0,0);
  border-radius: 20px;
  padding: 5px;
}

:visited{
  color: #8C6F1D;
}

.section{
  padding: 80px .5em 100px .5em;
}

.section h3{
  color: white;
  padding-bottom: 3em;
}

.content{
  width: 500px;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  padding: 1em .5em 1em .5em;
  background-color: inherit;
  border-top: solid rgba(100, 100, 100, 0.5) 8px;
  /*border-bottom: solid #222222 3px;
  border-right: solid #222222 2px;*/
  /*border-radius: 10px;*/
}

.content h4{
  font-family: tahoma;
}

.content p{
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 1em;
}

.content img{
  width: 480px;
  /*resize: horizontal;*/
}

#popup{
  display: none;
}

#intro{
  height: 70vh;
  padding-top: 8em;
  border-bottom: #1C0942;
  background-color: #4D357C;
}

#intro h1{
  font-size: 8em;
  font-family: Arial, sans-serif;;
  /*margin-top: 1em;*/
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

#intro h3{
  padding: 5px;
  color: #7D98AE;
  border: none;
}

#intro p{
  font-size: 1em;
  padding: 3px;
  color: #B59642;
}

#education{
  background-color: #B59642;
}

#school{
  background-color: #8C6F1D;
  border-color: #604804;
  /*opacity: 0.1;*/
}

#school h4{
  /*text-align: left*/
}

#school p{
  /*text-align: left*/
}

#skills{
  background-color: #7D98AE;
}

#skill{
  background-color: #305674;
  border-color: #06263E;
}

#experience{
  background-color: #B59642;
}

#job{
  background-color: #8C6F1D;
  border-color: #604804;
}

#goals{
  background-color: #7D98AE;
}

#more{
  border: 0px;
  background-color: #4D357C;
}
